body {
  margin-top: 40px;
  margin: 0;
  background-image: url('../assets/images/mlp_desktop_background_by_spikesmustache-d596nsx.png');
  background-repeat:no-repeat;
  display: compact;
  background-color: #333;
}
